@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on{
    @apply text-yellow-500;
}

.off{
    @apply text-blue-gray-50;
}
